@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --cor-primaria: #000;
  --cor-secundaria: white;
  --cor-tercaria: #22d4fd;

  --font-primaria: "Krona One", sans-serif;
  --font-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  width: 100%;
}
.topnav {
  display: none;
}
.menu-bar {
  width: 100%;
  height: 60px;
}

.link-menu-bar {
    display: flex;
    gap: 5rem;
    margin: 2% 3% 3% 17%
}
.link-menu {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-tercaria);
    text-decoration: none;

}
.conteudo {
  padding: 8% 15%;
  display: flex;
  justify-content: row;
  gap: 5.2rem;
  align-items: center;
  justify-content: center;
  
}
.conteudo-text {
  display: flex;
  width: 37rem;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
h1 {
  font-size: 2.2rem;
  font-family: var(--font-primaria);
  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  font-family: var(--font-primaria);
  font-weight: 400;
}
p {
  font-size: 1.5rem;
  font-family: var(--font-secundaria);
}
strong {
  color: var(--cor-tercaria);
}
.conteudo-text a {
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
  width: 50%;
  border-radius: 0.5rem;
  border: 2px solid var(--cor-tercaria);
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.conteudo-text.link-links {
  display: flex;
  flex-direction: column;
}
.links-link:hover {
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-decoration: none;
  width: 23.6rem;
  border-radius: 0.5rem;
  border: 2px solid var(--cor-tercaria);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #272727;
}
.conteudo-img img {
  width: 29rem;
  height: 33rem;
  border-radius: 1rem;
  box-shadow: 8px -7px 13px -2px rgba(119, 118, 161, 0.75);
  -webkit-box-shadow: 8px -7px 13px -2px rgba(119, 118, 161, 0.75);
  -moz-box-shadow: 8px -7px 13px -2px rgba(119, 118, 161, 0.75);
}
.rodape p {
  margin-top: 6.5rem;
  color: var(--cor-primaria);
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
  background-color: var(--cor-tercaria);
  text-align: center;
  padding: 1.5rem;
}
